<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">

    <div class="leiras">
        <h1>Nyitvatartás</h1>
        <hr/>
        <table id="nyitva" class="table nyitva">
            <thead>
                <th>Napok</th>
                <th>Nyitás</th>
                <th>Zárás</th>
            </thead>
            <tr>
                <td>Hétfő</td>
                <td>09:00</td>
                <td>21:00</td>
            </tr>
            <tr>
                <td>Kedd</td>
                <td>09:00</td>
                <td>21:00</td>
            </tr>
            <tr>
                <td>Szerda</td>
                <td>09:00</td>
                <td>21:00</td>
            </tr>
            <tr>
                <td>Csütörtök</td>
                <td>08:00</td>
                <td>22:00</td>
            </tr>
            <tr>
                <td>Péntek</td>
                <td>08:00</td>
                <td>23:00</td>
            </tr>
            <tr>
                <td>Szombat</td>
                <td>10:00</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>Vasárnap</td>
                <td rowspan="2">zárva</td>
            </tr>
        </table>
        <hr/>
        <div class="contact">
            <p>Budapest 1134 Kassák Lajos út 12.</p>
            <p>+36 70 894 5546</p>
            <p>E-mail: contact@orsikahambi.hu</p>
        </div>
    </div>

</div>
</body>
</html>