<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">
    <div class="leiras ">
        <h1 class="editHeader">Hamburger szerkesztő felület </h1>
        <h5 class="editHeader">Amelyik mezőt nem kívánja változtatni azt hagyja üresen!</h5>
        <div class="editpanel">
            <div class="editBurgerInput">
                <div class="newburgercard">
                    <h2>Eredeti hamburger</h2>
                    <hr/>
                    <h3 th:text="${burgerById.name}"></h3>
                    <div class="menuDescription">
                        <span class="burgertoppings" th:each="currentTopping: ${burgerById.toppings}"
                              th:text="${currentTopping.name}"></span>
                    </div>
                    <span th:text="${burgerById.price}"></span>
                </div>
            </div>
            <hr/>
            <div class="editBurgerInput">
                <h2>Új hamburger</h2>
                <hr/>
                <form th:action="@{/admin/hamburger/edit/editburger}"
                        method="GET"
                        id="newHamburgerCreaterForm">
                    <input type="hidden" name="editId" th:value="${burgerById.id}"/>
                    <label for="newHamburgerName">Hamburger neve:</label>
                    <input
                            type="text"
                            name="name"
                            id="newHamburgerName"
                            value=""

                    />
                    <label for="newHamburgerPrice">Hamburger ár:</label>
                    <input
                            type="text"
                            name="price"
                            id="newHamburgerPrice"
                            value=""
                    />
                    <div id="checkboxContainer">
                        <div class="toppingCheckbox" th:each="topping: ${toppings}">
                            <input class="toppingInput" type="checkbox" th:name="${topping.name}">
                            <span class="topCheckboxLabel" th:text="${topping.name}">Topping</span>
                        </div>
                    </div>
                    <button id="createNewHamburgerBtn"  class="button" type="submit">Módosít</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>