<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">
    <div class="leiras adminPanel">
        <H1 id="adminHeader">Hamburger szerkesztő </H1>
        <form
                th:action="@{/admin/hamburger/addnewburger}"
                method="GET"
                id="newHamburgerCreaterForm"
                accept-charset="utf-8">
            <hr/>
            <span>Új hamburger</span>
            <hr/>
            <div class="products, menuItem, menuDescription" th:if="${message != null}">
                <span th:text="${message}"></span>
            </div>
            <span class="errorMessage"></span>
            <div class="newBurgerNamePriceLabel">
                <div class="burgerEditorinput">
                    <label for="newHamburgerName">Hamburger neve:</label>
                    <input type="text" name="name" id="newHamburgerName" required />
                </div>
                <div class="burgerEditorinput">
                    <label for="newHamburgerPrice">Hamburger ára:</label>
                    <input type="text" name="price" id="newHamburgerPrice" required />
                </div>
            </div>

            <div id="checkboxContainer">
                <div class="toppingCheckbox" th:each="topping: ${toppings}">
                    <input  class="toppingInput" type="checkbox" th:name="${topping.name}" >
                    <span class="topCheckboxLabel" th:text="${topping.name}">Topping</span>
                </div>
            </div>

            <button class="button" id="createNewHamburgerBtn " type="submit">Mentés</button>
        </form>
        <hr/>
        <span>Feltétek szerkesztése</span>
        <hr/>
        <form th:action="@{admin/hamburger/toppings/addtopping}">
            <label for="addTopping">Új feltét</label>
            <input id="addTopping" type="text" name="newTopping" required>
            <button class="button" type="submit">Mentés</button>
        </form>
        <hr/>
        <span>Hamburger módositás</span>
        <hr/>
        <form th:action="@{/admin/hamburger/burgerbyname}" id="adminBurgerSearch">
            <label id="searchlabel" for="hamburgerToFind">Hamburger Neve:</label>
            <input
                    type="text"
                    name="hamburgerToFindByName"
                    id="hamburgerToFind"
                    required/>
            <button class="button" type="submit" id="hambSearchBtn">Keres</button>
        </form>
        <form th:action="@{/admin/hamburger/allburger}"
              method="GET">
            <button type="submit" id="allBurgerButton" class="button">Összes Hamburger</button>
        </form>
    </div>
</div>
</body>
</html>