<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">
    <main>

        <ul class="products" th:each="burger: ${allburgers}">
            <li class="menuItem">
                <div class="menuDescription">
                    <form th:action="@{/admin/hamburger/burgerbyid}">
                        <h2 th:text="${burger.name}"></h2>
                        <input type="hidden" name="hamburgerToFindById" th:value="${burger.id}"/>
                        <button type="submit" class="button">Megnyit</button>
                    </form>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>