<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">
    <div class="leiras adminPanel">
        <h2>Felhasználó rendelései</h2>
        <hr/>
            <div>
                <table id="tableOfAllOrders" class="table nyitva">
                    <thead>
                        <tr>
                            <th>Dátum</th>
                            <th>Cím</th>
                            <th>Kiszállitás</th>
                            <th>Vip</th>
                            <th>Össz érték</th>
                            <th>Tételek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cart: ${carts}">
                            <td th:text="${#temporals.format(cart.timeOfOrder, 'yyyy-MM-dd   HH:mm')}"></td>
                            <td th:text="${cart.address}"></td>
                            <td th:text="${cart.delivery} ? 'Igen' : 'Nem'"></td>
                            <td th:text="${cart.vipUser} ? 'Igen' : 'Nem'"></td>
                            <td th:text="${cart.sumOfAllItemPrices}"></td>
                            <td class="orderOpenButton">
                                <form th:action="@{/admin/users/user/orders/cart}" method="GET">
                                    <input type="hidden" name="cartIdForOpen" th:value="${cart.cartId}"/>
                                    <button type="submit" class="button">Megnyit</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <hr/>
        <form class="backToAllOrdersButtonForm" th:action="@{/admin/users}" method="GET">
            <button type="submit" class="button allOrdersButton">Vissza a felhasználókhoz</button>
        </form>
    </div>

</div>

</body>
</html>