<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="leiras">
            <div id="szoveg">
                <p>
                    Ezen a helyen mindent megtalalsz mi szem szajnak ingere. Tobbfele
                    valsztek var rad, melyet a legnagyobb odafigyelessel keszitunk el
                    szamodra.
                </p>
                <p>
                    Ha hozzank betersz biztosan megelegedetten es tele hassal tavozol, es
                    a kedvenc helyeid koze fogunk tartozni. Melyet jo szivvel ajanlasz
                    ismeroseidnek.
                </p>
            </div>
        </div>

    </div>
    <script src="../static/javascript/nav.js"></script>

</body>
</html>