<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="container login">
            <div id="register">
                <form id="registerForm" action="/login" method="POST">
                    <span id="errorMessage"></span>
                    <label for="logInEmail">E-mail:</label>
                    <input type="text" name="email" id="logInEmail" />
                    <label for="logInPassword">Jelszo:</label>
                    <input type="password" name="password" id="logInPassword" /><br />
                    <button id="logInButton" type="submit">Belepek</button>
                    <button
                            id="toRegButton"
                            onclick="window.location.href='/register'; return false;"
                    >
                        Regisztralok
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/javascript/nav.js"></script>

</body>
</html>