<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="leiras  orderContainer">
            <h1>Rendelés összesítő</h1>

            <table id="tableOfOrders" class="table nyitva">
                <thead>
                    <tr>
                        <th>Azonosító</th>
                        <th>Egységár</th>
                        <th>Mennyiség</th>
                        <th>Összesen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${cart.orderItems}" th:if="${item.quantity > 0}">
                        <td th:text="${item.hamburgerName}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.sumOfPrice}"></td>
                    </tr>
                    <tr th:if="${cart.delivery}">
                        <td>Kiszállítás</td>
                        <td>500</td>
                        <td>1</td>
                        <td>500</td>
                    </tr>
                    <tr id="sumPrice" >
                        <td>Végösszeg</td>
                        <td colspan="2"></td>
                        <td th:text="${cart.sumOfAllItemPrices}"></td>
                    </tr>
                </tbody>
            </table>
            <hr/>
            <div class="delivery">
                <p class="deliveryAddressItem">Dátum: <span th:text="${#dates.format(cart.timeOfOrder, 'yyyy-MM-dd   HH:mm')}"></span></p>
                <p class="deliveryAddressItem">Cím: <span th:text="${address.toString}"></span></p>
            </div>
            <hr/>
            <form class="mainPageButton" method="GET" th:action="@{/}">
                <button class="button" type="submit">Kezdő oldal</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>