<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Makiburger</title>
</head>
<body>

<div layout:fragment="content">

    <main>
        <div id="burik">
            <form class="leiras" method="GET" th:action="@{/order/hamburger}">
                <h1>Hamburger rendelés</h1>
                <hr/>
                <div id="orderAddressField">
                    <div>
                        <label for="orderName">Név:</label>
                        <input type="text" name="name" id="orderName" required/>
                    </div>
                    <div>
                        <label for="orderCity">Város:</label>
                        <input type="text" name="city" id="orderCity" required/>
                    </div>
                    <div>
                        <label for="orderStreet">Út/utca:</label>
                        <input type="text" name="street" id="orderStreet" required/>
                    </div>
                    <div>
                        <label for="orderHouseNumber">Ház sz.:</label>
                        <input type="text" name="number" id="orderHouseNumber" required/>
                    </div>
                    <div>
                        <label for="orderZip">Ir. szám:</label>
                        <input type="text" name="zip" id="orderZip" required/>
                    </div>
                    <div>
                        <label for="orderPhone">Tel.:</label>
                        <input type="text" name="phone" id="orderPhone" required/>
                    </div>
                </div>
                <hr/>
                <div id="burgerDarabSelect">
                    <div th:each="burger: ${allhamburger}">
                        <label th:for="${burger.name}" th:text="${burger.name}">Burger</label>
                        <input type="range" th:name="${burger.name}" min="0" max="15" value="0"
                               oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                        <br/>
                    </div>
                </div>
                <div id="szallitas">
                    <p>Kiszallitas (500 Ft)</p>
                    <input
                            type="checkbox"
                            id="szallitIgen"
                            name="szallit"
                            value="true"
                    />
                    <label id="szallitIgenLabel" for="szallitIgen">Igen</label><br/>
                </div>
                <hr/>

                <button id="cart-button" type="submit">Rendeles</button>
            </form>
        </div>
    </main>

</div>

</body>
</html>